body{
  margin:0px;          /* ページ全体のmargin */
  padding:0px;         /* ページ全体のpadding */
  text-align:center;   /* 下記のautoに未対応用のセンタリング */
}

ul {
  list-style: none;
}

.pageTitle {
  margin-bottom: 30px;
}

a:link {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

a:active {
  text-decoration:none;
}

a.overwhite{
  background-color:#ffffff;
  display:block;
}

a.overwhite:hover img {
  cursor:pointer;
  filter: alpha(opacity=60);        /* ie lt 8 */
  -ms-filter: "alpha(opacity=60)";  /* ie 8 */
  -moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
  -khtml-opacity: 0.6;              /* Safari 1.x */
  opacity:0.6;
  zoom:1;
}

/* anchor css */
#header a {
 color: white;
}

.description {
  margin-bottom: 50px;
}

.descriptionBlock a {
  color: red;
}

.screenShot {
   width: auto;
   height: 200px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#container {
  display: flex;
  display: -webkit-flex;

  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;

  text-align: left;
}

/* main nest 1 */
#header {
  text-align: center;

  display: flex;
  display: -webkit-flex;

  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;

  order: 1;
  -webkit-order: 1;

  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

#titleColumn {
  order: 1;
  -webkit-order: 1;

  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

/* sub main nest */
#categoryColumn {
  display: flex;
  display: -webkit-flex;

/* row or column setting depends on a window side */
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;

  order: 2;
  -webkit-order: 2;

  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

[class^="categoryItem"] {
  background-color: black;

  height: 70px;
  line-height: 70px;
/*
  flex-basis: 20%;
  -webkit-flex-basis: 20%;
*/
  flex-basis: 33.33333%;
  -webkit-flex-basis: 33.33333%;
}

.categoryItem1 {
  order: 1;
  -webkit-order: 1;
}

.categoryItem2 {
  order: 2;
  -webkit-order: 2;
}

.categoryItem3 {
  order: 3;
  -webkit-order: 3;
}

.categoryItem4 {
  order: 4;
  -webkit-order: 4;
}

.categoryItem5 {
  order: 5;
  -webkit-order: 5;
}

/* main nest 2 */
#contents {
  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  order: 2;
  -webkit-order: 2;

  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

#displayContent {
  /* background-color: blue; */

  order: 1;
  -webkit-order: 1;

  flex-basis: 80%;
  -webkit-flex-basis: 80%;
}

#siderBar {
  /* background-color: grey; */
  width: 10%;

  order: 2;
  -webkit-order: 2;

  flex-basis: 20%;
  -webkit-flex-basis: 20%;
}

/* main nest 3 */
#footer {
  text-align: center;

  /* background-color: purple; */
  width: 100%;

  order: 3;
  -webkit-order: 3;

  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}

.pageUp {
  margin: 0 auto;
  max-width: 960px;
  height: 30px;
  background: #fff;
  position: relative;
}

@media (min-width: 900px) {

  #container {
    margin-left:auto;
    margin-right:auto;

    width: 900px;
  }

  [class^="categoryItem"] h3{
    font-size: 24px;
    background-color: black;

    height: 70px;
    line-height: 70px;
/*
    flex-basis: 20%;
    -webkit-flex-basis: 20%;
*/
    flex-basis: 33.33333%;
    -webkit-flex-basis: 33.33333%;
  }

  #categoryColumn {
    display: flex;
    display: -webkit-flex;

  /* row or column setting depends on a window side */
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;

    order: 2;
    -webkit-order: 2;

    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}
  }